.open-button {
  background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1.0;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  font-weight: bold;
}

.container {
  /*border: 2px solid #dedede;*/
  background-color: white;
  /*border-radius: 5px;*/
  padding: 10px;
  margin: 0;
  height: 300px;
  overflow: auto;
}

.chat-item{
  background-color: royalblue;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 20px;
  max-width:75%;
  float:right;
  display: none;
  font-size: 13px;
}

.bot-item{
  background-color: #ddd;
  color: #222;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 20px;
  max-width: 75%;
  float:left;
  display: none;
  font-size: 13px;
}

.chat-footer{
  background-color: #c7e1ff;
  padding: 10px;
}

.column {
  float: left;
}

.chat {
  position:fixed;
  bottom:5px;
  right:10px;
  box-shadow:2px 5px 10px #333; 
  border: 2px solid #dedede;
  border-radius: 5px;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 14px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-left:10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.smallbtn {
  background-color: white; 
  border: 1.5px solid black; /* Remove borders */
  border-radius: 5px;
  color: black; /* White text */
  padding: 3px 8px; /* Some padding */
  font-size: 8px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.smallbtn:hover {
  background-color: grey;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}